{{ "<? $view->extend('::base.html.php'); ?>" }}

{{ "<? $view['slots']->start('header_row') ?>" }}
    <div class="span5">
        <h2>{{ "<?=$view['translator']->trans('" ~ entity ~ "')?>" }} {{ "<?=$view['translator']->trans('Creation')?>" }}</h2>
    </div>
    <nav class="span4">
        {% set hide_edit, hide_delete = true, true %}
        {% include 'views/others/record_actions.html.php.twig' %}
    </nav>
{{ "<? $view['slots']->stop('header_row') ?>" }}

{{ "<? $view['slots']->start('body') ?>" }}
    <div class="box">
        <div class="row-fluid">
            <div class="content form-horizontal">

                <form action="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "_create', array('id' => $entity->getId())) ?>" }}" method="post" {{ "<?= $view['form']->enctype($form) ?>" }}>
                    <div class="content dark">
                        <fieldset>
                            <legend><b>1.</b> {{ "<?=$view['translator']->trans('General information')?>" }}</legend>
                            {{ "<?= $view['form']->widget($form) ?>" }}
                        </fieldset>
                    </div>

                    <div class="content">
                        <div class="row-fluid">
                            <button type="submit" class="btn btn-large">{{ "<?=$view['translator']->trans('Create')?>" }}</button> 
                            <a href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "') ?>" }}">
                                {{ "<?=$view['translator']->trans('Cancel')?>" }}
                            </a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{{ "<? $view['slots']->stop('body') ?>" }}