    <a href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "') ?>" }}" class="btn">
        <i class="icon-chevron-left"></i> 
        {{ "<?=$view['translator']->trans('Back to the list')?>" }}
    </a>
{% if ('edit' in actions) and (not hide_edit) %}
    <a href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "_edit', array('id' => $entity->getId())) ?>" }}" class="btn">
        <i class="icon-pencil"></i> 
        {{ "<?=$view['translator']->trans('Edit')?>" }}
    </a>
{% endif %}
{% if ('delete' in actions) and (not hide_delete) %}
    <a href="{{ "<?= $view['router']->generate('" ~ route_name_prefix ~ "_delete', array('id' => $entity->getId())) ?>" }}" class="btn" onclick="return confirm('{{ "<?=$view['translator']->trans('Confirm delete')?>" }}">
        <i class="icon-trash"></i>
        {{ "<?=$view['translator']->trans('Delete')?>" }}
    </a>
{% endif %}